<h1>Gêneros:</h1>

    <dl>
    <% @genres.each do | genre |  %>
      <%= link_to genre.name, genre_path(genre.id) %>
      <br />
    <% end %>
    </dl>

<%= link_to 'Cadastrar Gênero', new_genre_path %>