<nav>
    <ul>
      <li>
        <%= link_to 'Filmes', films_path %>
      </li>
      <li>
        <%= link_to 'Gêneros', genres_path %>
      </li>
      <li>
        <%= link_to 'Diretores', directors_path %>
      </li>      
    </ul>
</nav>